Basic-YPR-SDU Requirements

|===
^|*Requirement B-YPR-SDU* |*/req/basic/ypr/sdu* 
^|Requirement |An implementation of a Basic-YPR Target shall consist of an Outer Frame specified by an implicit WGS-84 CRS and an implicit EPSG 4461-CS (LTP-ENU) coordinate system and explicit parameters to define the tangent point. The Inner Frame shall be a rotation-only transformation using Yaw, Pitch, and Roll angles.
^|ID |<<req_basic_ypr,/req/basic/ypr/sdu>>
|===

|===
^|*Requirement B-TP-Lon-SDU* |*/req/tangent_plane/longitude/sdu* 
^|Requirement |An instance of a GeoPose tangentPoint.longitude attribute shall be expressed as a real number.
^|ID |<<req_tangent_plane_parameters_longitude,/req/tangent_plane/longitude/sdu>>
|===

[[req_tangent_plane_parameters_latitude]]
[width="100%",cols="4,6"]
|===
^|*Requirement B-TP-Lat-SDU* |*/req/tangent_plane/latitude/sdu* 
^|Requirement |An instance of GeoPose tangentPoint.latitude attribute shall be expressed as a real number.
^|ID |<<req_basic_quaternion,/req/tangent_plane/latitude/sdu>>
|===

[[req_tangent_plane_parameters_h]]
[width="100%",cols="4,6"]
|===
^|*Requirement B-TP-h-SDU* |*/req/tangent_plane/h/sdu* 
^|Requirement |An instance of a GeoPose tangentPoint.h attribute shall be expressed as a real number.
^|ID |<<req_basic_quaternion,/req/tangent_plane/h/sdu>>
|===

|===
^|*Requirement B-YPR-SDU* |*/req/orientation/ypr_angles/sdu* 
^|Requirement |Euler angles shall be expressed as three consecutive rotations about the local axes Z, Y, and X, in that order, corresponding to the conventional Yaw, Pitch, and Roll angles. The unit of measure shall be the degree. 
^|ID |<<req_sdu_orientation_euler_angles,/req/orientation/ypr_angles/sdu>>
|===





Basic-Quaternion-SDU Requirements

 
[[req_basic_quaternion]]
[width="100%",cols="4,6"]
|===
^|*Requirement B-Q-SDU* |*/req/basic/quaternion/sdu* 
^|Requirement |An implementation of a Basic-Quaternion Target shall consist of an Outer Frame specified by an implicit WGS-84 CRS and an implicit EPSG 4461-CS (LTP-ENU) coordinate system and explicit parameters to define the tangent point. The Inner Frame shall be a rotation-only transformation using a unit quaternion.
^|ID |<<req_basic_ypr,/req/basic/quaternion/sdu>>
|===



|===
^|*Requirement B-TP-Lon-SDU* |*/req/tangent_plane/longitude/sdu* 
^|Requirement |An instance of a GeoPose tangentPoint.longitude attribute shall be expressed as a real number.
^|ID |<<req_tangent_plane_parameters_longitude,/req/tangent_plane/longitude/sdu>>
|===

[[req_tangent_plane_parameters_latitude]]
[width="100%",cols="4,6"]
|===
^|*Requirement B-TP-Lat-SDU* |*/req/tangent_plane/latitude/sdu* 
^|Requirement |An instance of GeoPose tangentPoint.latitude attribute shall be expressed as a real number.
^|ID |<<req_basic_quaternion,/req/tangent_plane/latitude/sdu>>
|===

[[req_tangent_plane_parameters_h]]
[width="100%",cols="4,6"]
|===
^|*Requirement B-TP-h-SDU* |*/req/tangent_plane/h/sdu* 
^|Requirement |An instance of a GeoPose tangentPoint.h attribute shall be expressed as a real number.
^|ID |<<req_basic_quaternion,/req/tangent_plane/h/sdu>>
|===

|===
^|*Requirement Q-SDU* |*/req/orientation/quaternion/sdu* 
^|Requirement |An instance of a GeoPose Logical Model quaternion datatype value shall be expressed as four real numbers, representing four quaternion components w, x, y, z, in that sequential order. The sum of the squares of the individual components shall be as close to 1.0 as the real number representation allows. 
^|ID |<<req_sdu_orientation_quaternion,/req/orientation/quaternion/sdu>>
|===




Advanced=SDU Requirements

|===
^|*Requirement A-SDU* |*/req/advanced/sdu* 
^|Requirement |An implementation of an Advanced Target conform to Requirements AD-S-1, SDU-GP-Instant, and SDU-Q.
^|ID |<<req_advanced/structure,/req/advanced/sdu>>
|===

|===
^|*Requirement GP-Instant-SDU* |*/req/pose/geoposeinstant/sdu* 
^|Requirement |The Logical Model attribute GeoPoseInstant shall Unix Time in seconds multiplied by 1,000. The unit of measure shall be milliseconds.
^|ID |<<req_sdu_pose_geoposeinstant,/req/pose/geoposeinstant/sdu>>
|===

|===
^|*Requirement FS-Authority-SDU* |*/req/frame_specification/authority/sdu* 
^|Requirement |The FrameSpecification.authority attribute shall contain a string uniquely specifying a source of reference frame specifications.
^|ID |<<req_sdu_frame_specification_authority,/req/framespecification/authority/sdu>>
|===

[[req_sdu_frame_specification_id]]
[width="100%",cols="4,6"]
|===
^|*Requirement FS-ID-SDU* |*/req/frame_specification/id/sdu* 
^|Requirement |The FrameSpecification.ID attribute shall be a string uniquely defining a frame within the authority.
^|ID |<<req_sdu_frame_specification_id,/req/frame_specification/id/sdu>>
|===

[[req_sdu_frame_specification_parameters]]
[width="100%",cols="4,6"]
|===
^|*Requirement FS-Parameters-SDU* |*/req/frame_specification/parameters/sdu* 
^|Requirement |The FrameSpecification.parameter attribute shall contain all parameters needed for the corresponding authority and ID.
^|ID |<<req_sdu_frame_specification_parameter,/req/frame_specification/parameters/sdu>>
|===



Chain-SDU Requirements


Graph-SDU  Requirements


Regular Series-SDU Requirements


Irregular Series SDU Requirements


Stream SDU Requiremments
